
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
*.class
/Lesson1/Task1/coverage/
/Lesson2/Lesson2.7z

workspace.xml
/Lesson3/Algorithms/DepthFirstSearch/.idea/workspace.xml
workspace.xml
*.7z
/Lesson1/Task1/Converter/.idea/caches/build_file_checksums.ser
/Lesson1/Task1/Converter/.idea/codeStyles/Project.xml
/Lesson1/Task1/Converter/.idea/modules.xml
/Lesson1/Task1/Converter/.idea/caches/gradle_models.ser
/Lesson1/Task1/Converter/.idea/encodings.xml
/Lesson1/Task1/Converter/.idea/markdown-navigator.xml
/Lesson1/Task1/Converter/.idea/markdown-navigator/profiles_settings.xml
/Lesson1/Task1/Converter/.idea/caches/build_file_checksums.ser
/Lesson1/Task1/Converter/.idea/codeStyles/Project.xml
/Lesson1/Task1/Converter/.idea/modules.xml
/Lesson1/Task1/Converter/.idea/caches/build_file_checksums.ser
/Lesson1/Task1/Converter/.idea/codeStyles/Project.xml
/Lesson1/Task1/Converter/.idea/modules.xml
/Lesson1/Task1/Converter/.idea/caches/build_file_checksums.ser
/Lesson1/Task1/Converter/.idea/caches/build_file_checksums.ser
/Lesson2/.idea/misc.xml
/Lesson2/.idea/modules.xml
/Lesson2/.idea/markdown-navigator.xml
