
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
*.class
/Lesson1/Task1/coverage/
/Lesson2/Lesson2.7z

workspace.xml
/Lesson3/Algorithms/DepthFirstSearch/.idea/workspace.xml
workspace.xml
*.7z
/Lesson1/Task1/Converter/.idea/caches/build_file_checksums.ser
/Lesson1/Task1/Converter/.idea/codeStyles/Project.xml
/Lesson1/Task1/Converter/.idea/modules.xml
/Lesson1/Task1/Converter/.idea/caches/gradle_models.ser
/Lesson1/Task1/Converter/.idea/encodings.xml
/Lesson1/Task1/Converter/.idea/markdown-navigator.xml
/Lesson1/Task1/Converter/.idea/markdown-navigator/profiles_settings.xml
/Lesson1/Task1/Converter/.idea/caches/build_file_checksums.ser
/Lesson1/Task1/Converter/.idea/codeStyles/Project.xml
/Lesson1/Task1/Converter/.idea/modules.xml
/Lesson1/Task1/Converter/.idea/caches/build_file_checksums.ser
/Lesson1/Task1/Converter/.idea/codeStyles/Project.xml
/Lesson1/Task1/Converter/.idea/modules.xml
/Lesson1/Task1/Converter/.idea/caches/build_file_checksums.ser
/Lesson1/Task1/Converter/.idea/caches/build_file_checksums.ser
/Lesson2/.idea/misc.xml
/Lesson2/.idea/modules.xml
/Lesson2/.idea/markdown-navigator.xml
/Lesson2/.idea/encodings.xml
/Lesson2/.idea/markdown-navigator/profiles_settings.xml
/Lesson2/.idea/vcs.xml
/Lesson2/HomeWork/out/production/HomeWork/META-INF/HomeWork.kotlin_module
/Lesson3/Homework/.idea/compiler.xml
/Lesson3/Homework/.idea/encodings.xml
/Lesson3/Homework/.idea/markdown-navigator/profiles_settings.xml
/Lesson3/Homework/.idea/misc.xml
/Lesson3/Homework/.idea/vcs.xml
/Lesson3/Homework/Homework.iml
/Lesson3/Homework/target/classes/META-INF/Homework.kotlin_module
/Lesson4/Homework/.idea/compiler.xml
/Lesson4/Homework/.idea/encodings.xml
/Lesson4/Homework/.idea/gradle.xml
/Lesson4/Homework/.idea/markdown-navigator/profiles_settings.xml
/Lesson4/Homework/.idea/misc.xml
/Lesson4/Homework/.idea/runConfigurations.xml
/Lesson4/Homework/.idea/vcs.xml
/Lesson4/Homework/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
/Lesson4/Homework/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
/Lesson4/Homework/app/src/main/res/mipmap-hdpi/ic_launcher.png
/Lesson4/Homework/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
/Lesson4/Homework/app/src/main/res/mipmap-mdpi/ic_launcher.png
/Lesson4/Homework/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
/Lesson4/Homework/app/src/main/res/mipmap-xhdpi/ic_launcher.png
/Lesson4/Homework/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
/Lesson4/Homework/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
/Lesson4/Homework/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
/Lesson4/Homework/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
/Lesson4/Homework/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
/Lesson4/Homework/app/src/androidTest/java/com/reschikov/geekbrains/homework/ExampleInstrumentedTest.java
/Lesson4/Homework/app/.gitignore
/Lesson4/Homework/.gitignore
/Lesson4/Homework/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
/Lesson4/Homework/app/src/test/java/com/reschikov/geekbrains/homework/ExampleUnitTest.java
/Lesson4/Homework/gradle.properties
/Lesson4/Homework/gradle/wrapper/gradle-wrapper.jar
/Lesson4/Homework/gradle/wrapper/gradle-wrapper.properties
/Lesson4/Homework/gradlew
/Lesson4/Homework/gradlew.bat
/Lesson4/Homework/app/proguard-rules.pro
/Lesson4/Homework/settings.gradle
